<div class="content-container">
  <mat-card>
    <mat-card-title> Comunícate con nosotros </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4 contenedor-textos">
          <p style="margin-top: 20px;">Uno de nuestros colaboradores te atendera</p>

          <mat-icon id="cuenta">account_circle</mat-icon>

          <p class="element">Horario:</p>
          <p>Lunes a Domingo de 9:00 a 23:00 horas</p>

          <p class="element">Correo:</p>
          <p>trajinerascastro@gmail.com</p>

          <button class="element" mat-raised-button color="accent">WhatsApp</button>
        </div>
        <div class="col-md-8">
          <div class="contenedor-mapa">
            <img id="mapa" src="../../assets/images/Mapa.JPG" alt="Mapa">
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/images/Imagen4.jpg"
              class="d-block w-100 tamanio-imagen"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/Imagen5.jpg"
              class="d-block w-100 tamanio-imagen"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/Imagen7.jpg"
              class="d-block w-100 tamanio-imagen"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>¿Cómo llegar al embarcadero?</mat-card-title>
    <mat-card-content style="margin-top: 20px">
      <div class="row">
        <div class="col-md-6">
          <p style="font-size: 30px">En trasporte público</p>
          <mat-accordion style="margin: 50px">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Primer Ruta </mat-panel-title>
                <mat-panel-description>Metro - Camion</mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                Del metro taxqueña, tomar un camión que diga Xochimilco / Centro
                / Galeana y pedir que te bajen en la Iglesia de Santa Cruzito y
                el embarcadero se encuentra a 2 cuadras.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Segunda Ruta </mat-panel-title>
                <mat-panel-description
                  >Metro - Tren Lijero</mat-panel-description
                >
              </mat-expansion-panel-header>
              <p>
                Del metro taxqueña, tomar el tren ligero hasta la última
                estación (Xochimilco) y despúes caminar aproximadamente 15
                minutos hacia el embarcadero o bien, tomar un taxi donde te
                harás como 8 minuto, y te cbrarán aproximadamente $25 pesos.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Tercer Ruta </mat-panel-title>
                <mat-panel-description>Metrobus - Camion</mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                Del metrobús Xochimilco (Prepa 1), tomar un microbús que diga
                Galeana/ Xochimilco ó San Gregorio / Xochimilco y pedir que te
                bajen en la Iglesia de Santa Crizito y el embarcadero se
                encuentra a 2 cuadras.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-md-6">
          <p style="font-size: 30px"><mat-icon>map</mat-icon> Google Maps</p>
          <img id="qr-maps" src="../../assets/images/QR-Google-Maps.png" alt="QR Maps" />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
