<mat-toolbar>
  <div class="col-md-3">
    <img
      src="..\assets\Logo-SF.png"
      alt="Logo Trajineas Castro"
      width="auto"
      height="auto"
      routerLink="/"
    />
  </div>

  <div class="col-md-4">
    <a class="page-title" routerLink="/">Trajineras Castro</a>
  </div>

  <!-- <span class="spacer"></span> -->

  <div class="col-md-5">
    <div class="buton-container">
      <button mat-icon-button class="element">
        <mat-icon>call</mat-icon>
      </button>
      <button mat-icon-button class="element">
        <mat-icon>facebook-box</mat-icon>
      </button>
      <button mat-icon-button class="element">
        <mat-icon>mail_outline</mat-icon>
      </button>
    </div>
    <div class="buton-container">
      <a routerLink="/" class="element">Inicio</a>
      <a routerLink="/tours" class="element">Tours</a>
      <a routerLink="/eventos" class="element">Eventos</a>
      <a routerLink="/cotizaciones" class="element">Cotizaciones</a>
      <a routerLink="/contacto" class="element">Contacto</a>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
