.mat-toolbar {
  height: 15vh;
  background: linear-gradient(45deg, #FFA500, #FFD700, #FFFF00);
}

.mat-toolbar img {
  border-radius: 25px;
  margin: 50px;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 115px; /* Permite que la altura se ajuste automáticamente */
  padding: 10px;
  object-fit: cover;
}

.mat-toolbar img:hover,
.mat-toolbar img:active{
    filter: contrast(110%);
}

.page-title {
  font-size: 45px;
  margin-left: 50px;
}

.element {
  margin-right: 30px;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: blanchedalmond;
}

.spacer {
  flex: 1 1 auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buton-container{
    text-align: right;
}