<div class="container">
  <mat-stepper #stepper>

    <mat-step [stepControl]="firstForm" errorMessage="Datos Faltantes">
      <ng-template matStepLabel>Datos Generales</ng-template>
      <app-primer-step></app-primer-step>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" errorMessage="Datos Faltantes">
      <ng-template matStepLabel>Paquete</ng-template>
      <app-second-step></app-second-step>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Cotización</ng-template>
      <p>Datos de su cotizaciòn:</p>
      <div class="row">
        <span>Aqui van los datos</span>
      </div>
      <div class="row">
        <button
          mat-raised-button
          class="col-md-2 col-sm-2"
          color="accent"
          matStepperPrevious
        >
          Regresar
        </button>
        <button
          mat-raised-button
          class="col-md-2 col-sm-4"
          style="margin-left: 10px"
          color="warn"
          (click)="stepper.reset()"
        >
          Nueva Cotización
        </button>
      </div>
    </mat-step>

  </mat-stepper>
</div>
