<div class="container">
  <mat-stepper #stepper [linear]="true">

    <mat-step [stepControl]="formCotizacion" errorMessage="Datos faltantes">
      <ng-template matStepLabel>Datos Generales</ng-template>
      <app-primer-step (eventosSC)="eventosStepCotizacion($event)"></app-primer-step>
    </mat-step>

    <mat-step [stepControl]="formCotizacion" errorMessage="Datos faltantes">
      <ng-template matStepLabel>Paquete</ng-template>
      <app-second-step (eventosSC)="eventosStepCotizacion($event)"></app-second-step>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Cotización</ng-template>
      <p>Datos de su cotizaciòn:</p>
      <div class="row">
        <span>Costo del Paseo</span>
        <p>{{costoPaseo | currency}}</p>
      </div>
      <div class="row">
        <button
          mat-raised-button
          class="col-md-2 col-sm-2"
          color="accent"
          matStepperPrevious
        >
          Regresar
        </button>
        <button
          mat-raised-button
          class="col-md-2 col-sm-4"
          style="margin-left: 10px"
          color="warn"
          (click)="stepper.reset()"
          (click)="resetFormulario()"
        >
          Nueva Cotización
        </button>
      </div>
    </mat-step>

  </mat-stepper>
</div>
