<form [formGroup]="formularioDatos">
  <div class="row justify-content-start">
    <div class="col-md-3 col-sm-6">
      <mat-form-field class="entrada">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre" required />
        <mat-error
          *ngIf="formularioDatos.get('nombre')?.hasError('required')"
        >
          Por favor, ingresa tu nombre
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-form-field class="entrada">
        <mat-label>Apellido</mat-label>
        <input type="text" matInput formControlName="apellido" required />
        <mat-error
          *ngIf="formularioDatos.get('apellido')?.hasError('required')"
        >
          Por favor, ingresa tu apellido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-form-field class="entrada">
        <mat-label>Correo Electronico</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ej. trajineras@gmail.com"
          required
        />
        <mat-error
          *ngIf="formularioDatos.get('email')?.hasError('required')"
        >
          Es necesario ingresar un correo electrónico
        </mat-error>
        <mat-error *ngIf="formularioDatos.get('email')?.hasError('email')">
          Por favor, ingresa un correo electrónico valido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-form-field class="entrada">
        <mat-label>Telefono</mat-label>
        <input
          type="tel"
          matInput
          formControlName="telefono"
          placeholder="55-5555-5555"
        />
      </mat-form-field>
    </div>
    <div class="col-md-2 col-sm-2">
      <mat-form-field class="entrada">
        <mat-label>Visitantes</mat-label>
        <input
          type="number"
          matInput
          formControlName="noVisitantes"
          required
        />
        <mat-error *ngIf="formularioDatos.get('noVisitantes')?.hasError('min')">
          Ingresa un numero valido.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <button
      mat-raised-button
      color="primary"
      class="col-md-1 col-sm-2"
      matStepperNext
    >
      Siguiente
    </button>
  </div>
</form>