<div class="container">
    <div class="row">
       <mat-card>
        <mat-card-content><h1 class="title">Nuestros recorridos</h1></mat-card-content>
       </mat-card> 
    </div>

  <div class="row" style="justify-content: center">
    <div class="col-md-5">
      <mat-card>
        <mat-card-title>Tour Tradicional</mat-card-title>
        <mat-card-content>
          <img
            class="card-image"
            src="..\..\assets\images\Tour-Tradiciona.jpg"
            alt="Tour Tradicional"
          />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-5">
      <mat-card>
        <mat-card-title>Tour Festejo</mat-card-title>
        <mat-card-content>
          <img
            class="card-image"
            src="..\..\assets\images\Tour-Festejo.jpg"
            alt="Tour Festejo"
          />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row" style="justify-content: center">
    <div class="col-md-5">
      <mat-card>
        <mat-card-title>Tour Ajolotario</mat-card-title>
        <mat-card-content>
          <img
            class="card-image"
            src="..\..\assets\images\Tour-Ajolover.jpg"
            alt="Tour Ajolover"
          />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-5">
      <mat-card>
        <mat-card-title>Tour Isal de las Muñecas</mat-card-title>
        <mat-card-content>
          <img
            class="card-image"
            src="..\..\assets\images\Tour-Munecas.jpg"
            alt="Tour Munecas"
          />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
