.container{
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
}

.title-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title{
    font-size: 36px;
    text-align: center;
    color: #a2231d;
}

.img-container{
    text-align: center;
    margin-bottom: 20px;
}