<div class="content-container">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/Imagen4.jpg"
          class="d-block w-100 tamanio-imagen"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/Imagen5.jpg"
          class="d-block w-100 tamanio-imagen"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/Imagen1.jpg"
          class="d-block w-100 tamanio-imagen"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1 class="titulo">!Vive una experiencia inolvidable¡</h1>

  <div class="row">
        <div class="col-md-12">
        <mat-card>
            <mat-card-title> Servicio de Trajineras en Xochimilco </mat-card-title>
            <mat-card-content>
            <p>
                Disfruta de un paseo inolvidable en las trajineras de Xochimilco
            </p>
            </mat-card-content>
            <mat-card-title> Descubre Xochimilco </mat-card-title>
            <mat-card-content>
            Xochimilco es uno de los lugares más icónicos de la Ciudad de México.
            Disfruta de un relajante paseo en trajinera por los canales, con
            música en vivo y comida tradicional.
            </mat-card-content>
            <mat-card-title> Nuestros Servicios </mat-card-title>
            <mat-card-content>
            Ofrecemos una variedad de paquetes que incluyen paseos en trajinera,
            música en vivo, y deliciosa comida mexicana. ¡Reserva tu experiencia
            única hoy mismo!
            </mat-card-content>
        </mat-card>
        </div>
        <div class="col-md-10">
            
        </div>
  </div>

  <h1 class="titulo">Eventos Destacados</h1>
  
  <div class="advertising-container">
    <img src="../../assets/images/Imagen6.jpg" alt="Evento">
  </div>
  
</div>
