.content-container{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 20px;
}

.tamanio-imagen{
    height: 650px;
}

.titulo{
    font-size: 50px;
    text-align: center;
    padding: 50px;
    color: #a2231d;
}

mat-card-title{
    font-size: 30px;
    text-align: center;
    color: #1c542d;
    padding: 10px;
}

mat-card-content{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.advertising-container{
    text-align: center;
}